nav{
        @include flex(row,space-between,center);
        height: 50px;
        width: 100%;
        background-color: $mainColor;

        img
        {
            height: 30px;
            padding: 5px;
            margin-left: 10px;
            cursor: pointer;
        }
    
        button
        {
            border-style: none;
            background-color: unset;
        }

        .dropdown 
        {
            position: relative;
            height: 45px;
            
            .dropdown-content {
                display: none;
                position: absolute;
            
                button
                {
                    padding: 10px 32px;
                    display: block;
                    text-decoration: none;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: $mainColor;
                    color: white;
                }
                button:hover{background-color: #405136; }

                button.current-page
                {
                    background-color: gray;
                    color: white;
                    cursor: default;
                    pointer-events: none;
                }
            }
            .page-view{
                position: relative;
                height: 45px;
                .company-pages{
                display: none;
                position: absolute;
                buttton{display:block;}    
                }
            }
            
        }
            
        .dropdown:hover .dropdown-content {@include flex(column,center,stretch);}
        
        .page-view:hover .company-pages{ @include flex(column,center,stretch)}

        label{@include flex(row, space-around,center);}

        input[type=search]{
            padding: 5px;
            border-style: none;
            border-radius: 10px;
            color: white;
            width: 70%;
            background: #405136 ;
            
        }
        input::placeholder{
            color: white;
            opacity: 0.5;
        }
        .shop{
            @include flex(row,center,center)
        }
        
        @include computer
        {
            img{height: 2.5em;}

            .search{height: 1.5em;}

            .dropbtn{display: none;}

            .dropdown .dropdown-content
            {
                position: relative;
                @include flex(row,center,center);
                button
                { 
                    padding: 14px 32px;
                    color: $extraColor;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .dropdown:hover .dropdown-content{@include flex(row,center,center)}
        }
    }


footer{
    padding: 15px 2px;
    background-color: $mainColor;
    position: relative;
    bottom: 0;
    text-align: center;
    color: $accentColor;
    .info{
        @include flex(row, space-around, center);
        p{
            color: $accentColor;
            margin: 5px;
            font-weight: bold;
        }
        a{
            margin: 3px;
            padding: 5px;
            text-decoration: none;
            color: $extraColor;
            font-weight: bold;
        }
        a:hover{
            background-color: #405136;
            border-radius: 8px;
        }
        span.current-page{
            color: $extraColor;
            font-weight: bold;
            text-decoration: underline;
            cursor: default;
            pointer-events: none;
            opacity: 60%;
        }
    }
    
}
