


.buy-the-look
{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    button{
        margin: 5px;
        font-weight: bolder;
        border-style: none;
        border: 2px solid $accentColor;
        background-color: #ea870687;
        border-radius: 5px;
        padding: 5px;
    &:hover{ background-color: $accentColor;}
    }   

    .outfit{
        scroll-snap-align: center;
        @include flex(column,flex-start,center);
        background-color: white;
        height: 450px;
        padding: 20px;
        margin: 35px 15px;
        position: relative;
        img{ height: 300px;}
        .price{@include flex(row,space-between,center); gap:10px;}

        .point{
            background-color: white;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            box-shadow: 0 0px 8px 8px rgba(0, 0, 0, 0.405);
            position: absolute;
            bottom: 30%;
            left: 35%;
            
            &:first-of-type{
                top:30%;
                left: 45%;
            }

            .reveal{display: none;}

            &:hover{ 
                
                .reveal{
                    width:100px;
                    padding: 10px;
                    @include flex(column,center,center);
                    background-color: white;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                }
                span{text-transform: capitalize;}
                p{font-weight: bold;}

                img{
                    height: 50px;
                }
                
            }
        }
    }
}

.products{
    button{
    margin: 5px;
    font-weight: bolder;
    border-style: none;
    border: 2px solid $accentColor;
    background-color: #ea870687;
    border-radius: 5px;
    padding: 5px;
    &:hover{ background-color: $accentColor;}
    }

    .gallery{
        padding: 10px;
        @include flex(row,space-around,center);
        flex-wrap: wrap;
        background-color: #ffffff;
    }

    .gallery-item{
        margin: 5px;
        cursor: pointer;
        @include flex(column, center,center);
        width: 130px;
        height: 200px;
        background-color: white;
        padding: 5px;
        &:hover{
            border: 1px solid gray;
            border-radius: 4px;
        }
        img{ height: 100px;}
        span{
            text-align: center;
            font-weight: bold;
            text-transform: capitalize;
            }
        .desc{
            margin: 5px;
        }
        @include tablet{
            width: 150px;
            height: 230px;
            img{height: 130px;}
        }
        @include computer{
            width: 180px;
            height: 250px;
            img{height: 150px;}
        }
    }

}