
button{
    margin: 5px;
    font-weight: bolder;
    border-style: none;
    border: 2px solid $accentColor;
    background-color: #ea870687;
    border-radius: 5px;
    padding: 5px;
    &:hover{ background-color: $accentColor;}
}

.buy-the-look{
    @include flex(row,center,center);
        .outfit{
            @include flex(column,center,center);
            background-color: white;
            height: 450px;
            margin: 20px;
            img{ height: 300px;}
            .price{@include flex(row,space-between,center); gap:10px;}
            .point{
                background-color: white;
                height: 20px;
                width: 20px;
                border-radius: 10px;
                box-shadow: 0 0px 8px 8px rgba(0, 0, 0, 0.405);
                position: absolute;
                
                &:first-of-type{
                    top:230px;
                    left: 650px;
                }
                &:last-of-type{
                    top:350px;
                    left: 650px;
                }
                .reveal{display: none;}
                &:hover{ 
                    
                    .reveal{
                        width:400px;
                        padding: 10px;
                        @include flex(row,center,center);
                        background-color: white;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                        gap: 10px;
                    }
                    p{font-weight: bold;}

                    img{
                        height: 60px;
                    }
                    
                }
            }
        }
    }

.products{
    .gallery{
        padding: 10px;
        @include flex(row,space-around,center);
        flex-wrap: wrap;
        background-color: #ffffff;
    }

    .gallery-item{
        margin: 5px;
        cursor: pointer;
        @include flex(column, center,center);
        width: 130px;
        height: 200px;
        background-color: white;
        padding: 5px;
        &:hover{
            border: 1px solid gray;
            border-radius: 4px;
        }
        img{ height: 100px;}
        span{
            text-align: center;
            font-weight: bold;
            text-transform: capitalize;
            }
        .desc{
            margin: 5px;
        }
        @include tablet{
            width: 150px;
            height: 230px;
            img{height: 130px;}
        }
        @include computer{
            width: 180px;
            height: 250px;
            img{height: 150px;}
        }
    }

}