body{
    margin: 0;
    padding: 0;
}
nav{
    @include flex(row,space-between,center);
    height: 50px;
    width: 100%;
    background-color: $mainColor;

    img{
        height: 20px;
        padding: 5px;
        cursor: pointer;
    }
    button{
        border-style: none;
        background-color: unset;
    }

    .dropdown{
        position: relative;
        height: 40px;
    }
    .dropdown-content{
            display: none;
            position: absolute;
        
            a{
            padding: 10px;
            display: block;
            text-decoration: none;
            background-color: $mainColor;
            color: white;
            }
            a:hover{
                background-color: #405136;
            }
            
        }
    .dropdown:hover .dropdown-content{display: block;}
    

    label{@include flex(row, space-around,center);}

    input[type=search]{
        padding: 5px;
        border-style: none;
        border-radius: 10px;
        color: white;
        width: 70%;
        background: #405136 ;
    }
    .shop{
        @include flex(row,center,center)
    }
}